
body{
    text-align: center;
}

.Noticia .boton a{
    text-decoration: none;
    font-family: sans-serif;
    color:brown;
    background-color: blanchedalmond;
    border: .1em solid;
    border-radius: 10px;
    font-size: 1.5em;
    padding: .2em;
}
main {
    width: 40%;
    font-size: 16px;
    margin: 0 auto;
    background-color:aliceblue;
    border:#DDD .1em solid;
    box-shadow: 3px 5px 5px #333;
    padding: 1em;
}

.Noticia .articulo{
    padding: 1em;
}
.Noticia .articulo h1{
    color: red;
    font-family: sans-serif;
}

.Noticia .articulo p{
    color:#333;
    font-family: sans-serif;
}
